{% extends 'base_admin.html.twig' %}

{% block title %}New Formation{% endblock %}

	{% block body %}
		<h1>Créer une nouvelle formation</h1>
		<blockquote>Entrez les informations demandées pour créer une nouvelle formation.</blockquote>

		{{ include('formation/_form.html.twig') }}

		<div class="right-align"><a href="{{ path('formation_index') }}" class="btn"><i class="material-icons back">arrow_back</i>Retour</a></div>
	{% endblock %}

	{% block javascripts %}
		{{parent()}}
		<script src="/js/datepicker.js"></script>
	{% endblock %}
