/**** NAVBAR ****/
nav{
	background: transparent;
    box-shadow: none;
}

.navbar-fixed{
	position: absolute;
}

/**** TITLE ****/
h1, h2{
	color: white;
}

/**** HOME ****/
.home-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home-container h1{
	color: rgba(0,0,0,0.87);
	font-size: 2.5rem;
	margin: 10px 0;
}

.home-container .card{
	width: 50%;
	margin-top: 20px;
}

.home-container .card-content{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/**** CAROUSEL ****/
.carousel{
	min-height:300px !important;
}

/**** LINEAR-GRADIENT ****/
.section1{
	background: -webkit-gradient(linear, top left, bottom left, from(#92a1ca), to(#76c2bd));
	background: -webkit-linear-gradient(#92a1ca, #76c2bd);
	background: linear-gradient(#92a1ca,#76c2bd);
}

.section2{
	background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
	background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
	background: linear-gradient(#4BBFC3,#7BAABE);
}

.section3{
	background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#969ac6));
	background: -webkit-linear-gradient(#7BAABE, #969AC6);
	background: linear-gradient(#7BAABE,#969AC6);
}

.section4{
	background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636F8F));
	background: -webkit-linear-gradient(#969AC6, #636F8F);
	background: linear-gradient(#969AC6,#636F8F);
}

/**** CARDS ****/
.card-content p{
	margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.formation-container{
	padding: 24px;
	width: 80%;
	margin: auto;
}

.formation-container-small{
	display: none;
	margin-right: 5px;
	margin-left: 5px;
}

.slide-logo-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

/**** MODAL ****/
.modal, .modal-overlay{
	position: absolute;
}

.modal .modal-content{
	margin-top: 40px;
}

.projects-modal .modal-content{
	text-align: center;
}

.modal .modal-fixed-header{
	position: absolute;
	top: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
	z-index: 1;
	display: flex;
    justify-content: center;
    align-items: center;
}

.modal img{
	max-width: 100vw;
	max-height: 100vh;
}

.modal h4{
	font-size: 24px;
}

.fp-tableCell{
	height: 600px !important;
}

/**** MEDIA QUERIES ****/
@media only screen and (max-width: 992px){
	.modal {
		width: 90%;
	}
	.modal img{
		max-width: 80vw;
	}
}

@media only screen and (min-width: 599px) and (max-width: 700px){
	.card .card-title{
		font-size: 2rem;
	}
}

@media only screen and (min-width: 300px) and (max-width: 599px){
	.home-container .card{
		width: 100%;
		text-align: center;
	}

	.slide-logo-container img{
		width :80px;
	}

	.fp-controlArrow{
		top: 40%!important;
	}

	.card .card-title{
		font-size: 1.5rem;
	}

	.fp-controlArrow.fp-next{
		right: 5px;
	}

	.fp-controlArrow.fp-prev{
		left: 5px;
	}

	.formation-container{
		display: none;
	}

	.formation-container-small{
		display: block;
	}

	.fp-tableCell{
		height: 500px !important;
	}
}
