/**** LOGIN ****/
body{
	background: -webkit-gradient(linear, top left, bottom left, from(#92a1ca), to(#76c2bd));
	background: -webkit-linear-gradient(#92a1ca, #76c2bd);
	background: linear-gradient(#92a1ca,#76c2bd); 
}

.login-container .card{
	width: 50%;
	margin-top: 20px;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

h1{
	color: white;
}