nav img{
	margin: 5px 10px;
	opacity: 80%;
}

a{
	color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

h1, h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: flex;
	align-items: center;
}

h1{
	font-size: 3.5rem;
}

h2{
	font-size: 3rem;
}

h3, h4{
	font-size: 2.5rem;
}

h1 i, h2 i{
	margin-right: 10px;
}

.card-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400 !important;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: flex;
	align-items: center;
}

p .material-icons{
	margin-right: 5px;
}

.relative-icon {
	position: relative;
	top: 10px;
}

.logo{
	max-width: 200px;
}

.logo-small{
	max-width: 80px;
}

.card-action{
	text-align: right;
}

@media only screen and (min-width: 300px) and (max-width: 599px){
	h1{
		font-size: 3rem;
	}

	h2{
		font-size: 2.5rem;
	}
}