{% extends 'base_admin.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block body %}
    <h1>Créer une nouvelle compétence</h1>
    <blockquote>Entrez les informations demandées pour créer une nouvelle compétence.</blockquote>

    {{ include('skill/_form.html.twig') }}

    <div class="right-align"><a href="{{ path('skill_index') }}" class="btn"><i class="material-icons back">arrow_back</i>Retour</a></div>
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="/js/datepicker.js"></script>
{% endblock %}
