<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="/css/main.css">
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}

            {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="/lib/jquery.min.js"></script>
            <script src="/lib/materialize/js/materialize.min.js"></script>
        {% endblock %}
    </body>
</html>
