 <div class="navbar-fixed">
 	<nav>
		<div class="nav-wrapper grey darken-4">
			<a href="{{ path('home') }}" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down section table-of-contents">
				<li><a href="#home">Accueil</a></li>
				<li><a href="#skills">Compétences</a></li>
				<li><a href="#formation">Formation</a></li>
				<li><a href="#projects">Projets</a></li>
			</ul>
		</div>
	</nav>
</div>